@()

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/prism.css")'>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
  </head>

  <body>
    <section id="top">
      <div class="wrapper">
        <img class="resize" src="assets/images/play_icon_reverse.svg" alt="logo" />
        <h1>Play Hello World Web Tutorial</h1>
      </div>
    </section>
  </body>

</html>